<!DOCTYPE html>
<html class="full" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Groland's Blog - {% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{asset('bundles/BlogBundle/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS --> 
    <link href="{{asset('bundles/BlogBundle/css/blog-home.css') }}" rel="stylesheet">
    <!--<link href="{{asset('bundles/BlogBundle/css/jquery.datetimepicker.css') }}" rel="stylesheet">-->
    <link href="http://176.149.93.213/jquery.datetimepicker.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('blog_homepage')}}">Le blog de Groland</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if is_granted("ROLE_ADMIN") %}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{path('blog_AddPost')}}">Ajouter un article</a>
                    </li>
                    <li>
                        <a href="{{path('blog_addAdmin')}}">Ajouter un administrateur</a>
                    </li>
                    <!--<li>
                        <a href="#">Contact</a>
                    </li>-->
                </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">


							{% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <li><a href="#" class="inactiveLink">{{app.user.username}}</a></li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                                </li>
                            {% else %}
                                <li><a href="{{path('fos_user_security_login') }}">Connexion</a></li>
                                <li><a href="{{path('fos_user_registration_register') }}">Inscription</a></li>
                            {% endif %}
							
							<!--<li class="dropdown">
								 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<strong class="caret"></strong></a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{ path('fos_user_security_logout') }}">Deconnection</a>
									</li>
									<li>
										<a href="#">Another action</a>
									</li>
									<li>
										<a href="#">Something else here</a>
									</li>
								</ul>
							</li>-->
						</ul>
            </div>


            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    {% block corps %}{% endblock %}
</body>
</html>