{% extends '::layout.html.twig' %}

{% block title %} Article {% endblock %}

{% block corps %}
<div class="container">
{% if post is not null or post is not empty %}

	<div class="row">
		<div class="col-md-8">
                <h2>
                    {{ post.titre }}<small>, écrit par Groland </small>
                </h2>

                <p><span class="glyphicon glyphicon-time"></span> Ecrit le {{post.datePublication|date("d/m/Y")}} à {{post.datePublication|date("H:i:s")}}</p>
                {# {{ count }} commentaires #}
                <hr>

                <p> {{ post.contenu }} </p>
               

                <hr>

                 {% if is_granted("ROLE_ADMIN") %}
				<div class="btn"><a href={{path('blog_EditPost', {'id' : post.id})}}> Modifier cet article </a></div> - <div class="btn"><a href={{path('blog_DeletePost', {'id' : post.id})}}> Supprimer cet article </a></div>{% endif %}
		</div>

	</div>

{% endif %}

            <h4><small>Commentaire(s) :</small></h4>
{% if comments|length > 0 %}
    <div class="row">
        <div class="col-sm-12">

        </div><!-- /col-sm-12 -->
    </div><!-- /row -->
        {% for comment in comments %}
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{ comment.user.username }}</strong> <span class="text-muted"> Publié le {{comment.datePublication|date("d/m/Y")}} à {{comment.datePublication|date("H:i:s")}}</span> 
                            {% if is_granted("ROLE_ADMIN") %}
                                <div class = 'pull-right'>
                                    <a href={{path('blog_EditComment', {'id' : comment.id})}}><img src="https://cdn4.iconfinder.com/data/icons/32x32-free-design-icons/32/Pencil.png" height="10" width="10"/></a>&nbsp;-&nbsp;<a href={{path('blog_DeleteComment', {'idP' : post.id,'id' : comment.id})}}><img src="http://www.andorrasportstraining.com/resources/images/Dialog-close.png" height="10" width="10"/></a>
                                </div>
                            {% endif %}
                            <br> ({{ comment.user.email }})
                        </div>
                        <div class="panel-body">
                            {{ comment.commentaire }}
                        </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
                </div><!-- /col-sm-5 -->
            </div><!-- /row -->
        {% endfor %}
{% else %}
    <p> Il n'y a pas de commentaires à afficher. </p>
{% endif %}

<!-- <div class="well"> 
     <div class="container-fluid">
         <div class="row">
            <!--<div class="col-md-2">
            </div>-->
        <div class="col-md-8">

            <h4>Laisser un commentaire</h4>
            
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                <div class="form-group">
                   {# {{ form_errors(form.commentaire) }} #}
                   {# {{ form_label(form.commentaire, 'commentaire' , {'label_attr': {'class': 'col-sm-3 control-label '}}) }} #}
                   {{ form_widget(form.commentaire, {'attr': {'class':'form-control'}}) }}
                </div>

                <div class="form-group">
                   {# {{ form_label(form.envoyer, "Envoyer", {'label_attr': {'class': 'btn pull-right'}}) }} #}
                   {{ form_widget(form.envoyer, {'attr': {'class':'btn pull-right'}}) }}
                </div>
         
            {{ form_end(form) }}
            <!--<div class="col-md-2">
            </div>-->
    </div>
</div> -->





</div>
</div>
{% endblock %}