{% extends '::layout.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block corps %}
<div class="container">
{% if post is not null or post is not empty %}

	<div class="row">
		<div class="col-md-8">
                <h2>
                    <a href="{{path('blog_afficheOnePost', {'id' : post.id})}}">{{ post.titre }} </a>
                </h2>
                <p class="lead">
                    par <a href="index.php"> TODO   Start Bootstrap</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span>  TODOOOOOOO Posted on August 28, 2013 at 10:00 PM</p>
                <hr>

                <p> {{ post.contenu }} </p>
                <a class="btn btn-primary" href="{{path('blog_afficheOnePost', {'id' : post.id})}}">Lire et commenter <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>

                 {% if is_granted("ROLE_ADMIN") %}
				<div class="btn"><a href={{path('blog_EditPost', {'id' : post.id})}}> Modifier cet article </a></div> - <div class="btn"><a href={{path('blog_DeletePost', {'id' : post.id})}}> Supprimer cet article </a></div>{% endif %}
		</div>

	</div>

{% endif %}
</div>
<div class="well">
 
    <h4>Leave a comment</h4>
 
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <div class="col-md-12 form-group">
        {{ form_label(form.comment, "Write some comments", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.comment) }}
    </div>

    <div class="col-md-12 form-group text-right">
        {{ form_label(form.add, "Comment !", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    </div>
 
</div>
{% endblock %}