{% extends '::layout.html.twig' %}

{% block title %} Article {% endblock %}

{% block corps %}
    <section>
        <div class="container">
            {% if post is not null or post is not empty %}

                <div class="row">
                    <div class="col-md-12">
                        <article>
                            <div class = "panel panel-default" style="margin-top: 10px;">
                                <div class = "panel-heading">
                                    <h2>
                                        {{ post.titre }}<small>, écrit par {{ post.author.username }}</small>
                                    </h2>
                                    <br />
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <div class="pull-right">

                                                <div class="btn">
                                                    <a href={{path('admin_EditPost', {'id' : post.id})}}>
                                                        <img alt="Pencil" src="https://cdn4.iconfinder.com/data/icons/32x32-free-design-icons/32/Pencil.png" height="10" width="10"/>
                                                    </a>
                                                </div> - 
                                                <div class="btn">
                                                    <a href={{path('admin_DeletePost', {'id' : post.id})}}>
                                                        <img alt="Dialog-close" src="http://www.andorrasportstraining.com/resources/images/Dialog-close.png" height="10" width="10"/>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    <p>
                                        <span class="glyphicon glyphicon-time"></span> 
                                        Ecrit le {{post.datePublication|date("d/m/Y")}} à {{post.datePublication|date("H:i:s")}}
                                    </p>
                                </div>
                                <div class = "panel-body">
                                    <p> {{ post.contenu }} </p>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
        {% endif %}

        <h4><small>Commentaire(s) :</small></h4>
        {% if comments|length > 0 %}
            {% for comment in comments %}
            <div class="row">
                <div class="col-sm-5">
                    <article>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>
                                    {{ comment.user.username }}
                                </strong>
                                <span class="text-muted">, 
                                    <i>
                                        <small>
                                            publié le {{comment.datePublication|date("d/m/Y")}} à {{comment.datePublication|date("H:i:s")}}
                                        </small>
                                    </i>
                                </span> 

                                {% if is_granted("ROLE_ADMIN") %}
                                <div class = 'pull-right'>
                                    <a href={{path('admin_EditComment', {'idP':post.id,'id' : comment.id})}}>
                                        <img alt="Pencil" src="https://cdn4.iconfinder.com/data/icons/32x32-free-design-icons/32/Pencil.png" height="10" width="10"/>
                                    </a>&nbsp;-&nbsp;
                                    <a href={{path('admin_DeleteComment', {'idP' : post.id,'id' : comment.id})}}>
                                        <img alt="Dialog_close" src="http://www.andorrasportstraining.com/resources/images/Dialog-close.png" height="10" width="10"/>
                                    </a>
                                </div>
                                {% endif %}
                                <br>
                                    <small>
                                        ({{ comment.user.email }})
                                    </small>
                            </div>
                            <div class="panel-body">
                                {{ comment.commentaire }}
                            </div><!-- /panel-body -->
                        </div><!-- /panel panel-default -->
                    </article>
                </div><!-- /col-sm-5 -->
            </div><!-- /row -->
            {% endfor %}
        {% else %}
            <p> Il n'y a pas de commentaires à afficher. </p>
        {% endif %}

        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <div class="container-fluid">
                <div class="row">
                    <article>
                        <div class="col-sm-5">
                            <h4>Laisser un commentaire</h4>

                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                            <div class="form-group">
                                {{ form_widget(form.commentaire, {'attr': {'class':'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_widget(form.envoyer, {'attr': {'class':'btn pull-right'}}) }}
                            </div>

                        {{ form_end(form) }}

                        </div>
                    </article>
                </div>
            </div>

        {%else%}
            <div class="container-fluid">
                <div class="row">
                    <article>
                        <div class="col-sm-5">
                            <div class="alert alert-warning">
                                <strong>
                                    Merci de vous connecter pour laisser un commentaire
                                </strong>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        {%endif%}

    </section>
{% endblock %}