{% extends '::layout.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block corps %}
    <div class="container">

        <div class="row">
        	<div class="col-md-8">
                {% for post in posts %}
                        <h2>
                            {#<a href="{{path('blog_afficheOnePost', {'id' : post.id})}}">#} {{ post.titre }} {#</a>#}
                        </h2>
                        <p class="lead">
                            par Groland 
                        </p>
                        <p><span class="glyphicon glyphicon-time"></span> Ecrit le {{post.datePublication|date("d/m/Y")}} à {{post.datePublication|date("H:i:s")}}</p>
                            {{ countComms[post.id] }} commentaires <br> <br>
                         <a class="btn btn-primary" href="{{path('blog_afficheOnePost', {'id' : post.id})}}">Lire et commenter <span class="glyphicon glyphicon-chevron-right"></span></a> <br> 
                        {% if is_granted("ROLE_ADMIN") %}
                        <div class="btn"><a href={{path('admin_EditPost', {'id' : post.id})}}> Modifier cet article </a></div> - <div class="btn"><a href={{path('admin_DeletePost', {'id' : post.id})}}> Supprimer cet article </a></div>
                        {% endif %}

                        <hr>

                        {# <p> {{ post.contenu }} </p>
                       
                        
                        <hr> #}


                {% endfor %}
        	</div>
        </div>

        {% if pagination %}
            <ul class="pagination">
            	{% for i in 1..count %}

            		<li><a href={{path('blog_pageX', {'value' : i }) }} > {{ i }} </a> </li>

            	{% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}